{% extends "core/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        {% if form.errors %}
            <div class="errors">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Signup here</a></p>
{% endblock %}
