{% extends "core/base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="logout-page">
        <h1>Logout</h1>
        <p>You have been logged out.</p>
        <a href="{% url 'index' %}">Return to homepage</a>
    </div>
{% endblock %}
