{% extends "core/base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="signup-page">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
{% endblock %}
