{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Thread Logs</title>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <nav>
            <div class="nav-left logodiv">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/threadlogo.webp' %}" alt="Thread Logo" class="logo-image">
                    <span class="logo-text">THREAD</span>
                </a>
            </div>
            <div class="nav-right">
                {% if user.is_authenticated %}
                <a href="{% url 'my_core_list' %}">My Blogs</a>
                <a href="{% url 'create_thread' %}">Create a Blog</a>
                <a>Hello, {{ user.username }}</a>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:#017ecb; text-decoration:none; cursor:pointer; font-size: 14px;">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
