{% extends "core/base.html" %}

{% block title %}Create Thread{% endblock %}

{% block content %}
    <div class="create-thread-page">
        <h1>Create New Thread</h1>
        <form method="post" enctype="multipart/form-data">  <!-- Add enctype attribute -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock %}
