{% extends "core/base.html" %}

{% block title %}Delete Comment{% endblock %}

{% block content %}
    <div class="delete-comment-page">
        <h1>Are you sure you want to delete this comment?</h1>
        <p>{{ comment.content }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, delete</button>
            <a href="{% url 'thread_detail' comment.thread.id %}">Cancel</a>
        </form>
    </div>
{% endblock %}
