{% extends "core/base.html" %}

{% block title %}Delete Thread{% endblock %}

{% block content %}
    <div class="delete-thread-page">
        <h1>Are you sure you want to delete this thread?</h1>
        <p>{{ thread.title }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, delete</button>
            <a href="{% url 'thread_detail' thread.id %}">Cancel</a>
        </form>
    </div>
{% endblock %}
