{% extends "core/base.html" %}

{% block title %}Thread{% endblock %}

{% block content %}
    <h1>Welcome to Thread!</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'create_thread' %}">Create New Thread</a>
    {% else %}
    <a href="{% url 'login' %}">Login to create a new thread</a>
    <p>Don't have an account? <a href="{% url 'signup' %}">Signup here</a></p>
    {% endif %}
    <ul>
        {% for thread in threads %}
        <li>
            <a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a> by {{ thread.user.username }} at {{ thread.created_at }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
