{% extends "core/base.html" %}

{% block title %}My Threads{% endblock %}

{% block content %}
    <h1>My Threads</h1>
    {% if threads %}
        <ul>
            {% for thread in threads %}
            <li class="post">
                <div class="content">
                    <div class="metadata">
                        <strong>{{ thread.user.username }}</strong> | {{ thread.created_at }}
                        <form method="post" action="{% url 'delete_thread' thread.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                    <div class="text">
                        <a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any threads yet.</p>
    {% endif %}
{% endblock %}
