{% extends "core/base.html" %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}
    <div class="thread-detail-page">
        <h1>Original Post</h1>
        <div class="post">
            {% if user.is_authenticated and user == thread.user %}
            <form method="post" action="{% url 'delete_thread' thread.id %}" style="position: relative;">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete</button>
            </form>
            {% endif %}
            <div class="content">
                <div class="metadata">
                    <strong>{{ thread.user.username }}</strong> | {{ thread.created_at }}
                </div>
                <div class="text">
                    {% if thread.image %}
                        <img src="{{ thread.image.url }}" alt="Thread Image" class="fiximage1">
                    {% endif %}
                    <p>{{ thread.content }}</p>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <h2>Comments</h2>
            <ul>
                {% for comment in comments %}
                    <li class="comment">
                        <div class="content">
                            <div class="metadata">
                                <strong>{{ comment.user.username }}</strong> | {{ comment.created_at }}
                                {% if user.is_authenticated and user == comment.user %}
                                <form method="post" action="{% url 'delete_comment' comment.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-button">Delete</button>
                                </form>
                                {% endif %}
                            </div>
                            <div class="text">
                                {% if comment.image %}
                                    <img src="{{ comment.image.url }}" alt="Comment Image" class="fiximage">
                                {% endif %}
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if user.is_authenticated %}
        <div class="accordion">
            <button class="accordion-button">Add a Comment</button>
            <div class="accordion-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Comment</button>
                </form>
            </div>
        </div>
        {% else %}
        <p><a href="{% url 'login' %}">Login to add a comment</a></p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            $(".accordion-button").click(function() {
                var content = $(this).next(".accordion-content");
                content.slideToggle(300);
            });
        });
        </script>

{% endblock %}
