/* core.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    color: #333;
    font-size: 16px;  /* Updated font size for better readability */
    line-height: 1.6;  /* Added line-height for better text spacing */
}
/* CSS for logo and text */
.logodiv {
    display: flex;
    align-items: center;
}

.logodiv a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Ensure no underline for the link */
    color: #fff; /* Adjust color as needed */
}

.logo-image {
    height: 50px; /* Adjust as needed */
    margin-right: 10px; /* Space between logo and text */
}


.logo-text {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bolder */
    color: #007bff; /* Ensure text color matches your design */
    margin: 0; /* Remove any default margins */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow for excitement */
    letter-spacing: 1px; /* Add spacing between letters for a more dynamic look */
}
.logodiv img {
    transition: all 0.3s ease;
    width: 75px; /* Adjust the width to the desired size */
    height: auto; /* Maintain the aspect ratio */
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: transform 0.3s ease;  /* Add transition for smooth scaling */
}

a:hover {

    transform: scale(1.05);  /* Scale up slightly on hover */
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header and Navigation */
.header {
    background-color: #e4e4e4;
    color: black;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left a,
.nav-right a {
    margin: 0 10px;
    font-weight: bold;
    transition: all 0.3s ease;  /* Add transition for smooth scaling */
}
.logodiv img:hover{
    transform: scale(1.2);
}
.nav-left a:hover,
.nav-right a:hover {
    font-size: large;

}
.nav-right form {
    display: inline;
}

/* Buttons */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;  /* Updated font size for buttons */
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

button.delete-button:hover {
    color: darkred;
}

/* Forms */
form {
    margin-top: 20px;
}


input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    max-width: 100%;
    max-height: 200px;  /* Ensure inputs do not extend past their container */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;  /* Ensures padding and border are included in the element's total width and height */
}

textarea {
    resize: vertical;  /* Prevent horizontal resizing */
}

/* Titles */
h1 {
    color: #333;
    font-size: 24px;  /* Updated font size for main titles */
    margin-bottom: 10px;  /* Added margin for spacing */
}

h2 {
    color: #555;
    font-size: 20px;  /* Updated font size for sub-titles */
    margin-bottom: 10px;  /* Added margin for spacing */
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-size: 14px;  /* Updated font size for list items */
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}

/* Post and Comment Styles */
.post,
.comment {

    margin-bottom: 20px;
    padding: 10px;
    background-color: whitesmoke;

    border-radius: 4px;
}

.post .delete-button,
.comment .delete-button {
float: right;
}

.post .content,
.comment .content {
    margin-left: 20px;
    flex: 1;
}

.post .content .metadata,
.comment .content .metadata {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
}

.post .content .text,
.comment .content .text {
    margin-bottom: 10px;
}

/* Fixed Image Size */
.fiximage {
    max-width: 150px; /* Adjust the size as needed */
    max-height: 150px; /* Adjust the size as needed */
    width: auto;
    height: auto;
    border-radius: 4px;
    margin-left: 20px;
}
.fiximage1 {
    max-width: 300px; /* Adjust the size as needed */
    max-height: 300px; /* Adjust the size as needed */
    width: auto;
    height: auto;
    border-radius: 4px;
}
.text{
    display: flex;

}
.text p{
margin-left:40px;
}
.comments-section{
margin-left:40px;
}/* Accordion styles */
.accordion {
    margin-top: 20px;
    text-align: center;
}

.accordion-button {
    margin: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
}
